
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!includes/*

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

secrets.yaml
known_devices.yaml
home-assistant.*
home-assistant_v2.db
zigbee2mqtt/*
!zigbee2mqtt/configuration.yaml
tts/*
node-red/*
.storage/*
custom_components/*
www/*
temp/*

*.key

.ha_run.lock